.commonContainer {
  background: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 100%);
  background: #e2e8f0;
  padding: 3rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > div {
    h2 {
      font-size: 2rem;
      font-weight: 700;
    }
    h2,
    h3,
    h4,
    p {
      padding-bottom: 0.5rem;
    }
    h3 {
      font-size: 1.25rem;
      font-weight: 600;
    }
    h4 {
      font-size: 1rem;
      font-weight: 600;
      padding-bottom: 0.25rem;
    }
    .highlight {
      font-weight: 600;
    }
    ul {
      li {
        position: relative;
        padding-left: 1rem;
        &::before {
          content: "";
          width: 0.4rem;
          height: 0.4rem;
          position: absolute;
          background-color: rgb(25, 25, 25);
          border-radius: 50%;
          top: 0.5rem;
          left: 0rem;
        }
      }
    }

    .blue {
      margin: 0.3rem 0;
      border: 1px solid #2563eb;
      color: #2563eb;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-weight: 700;
      letter-spacing: 0.05rem;
      background-color: #bbcdf1;
      font-size: 0.95rem;
    }

    a {
      color: #2563eb;
    }
  }
}
