@use "tailwindcss";

@font-face {
  font-family: "opensans";
  src: url("/fonts/opensans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #f8fafc;
  --foreground: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'roboto', sans-serif !important;
}


h1,h2,h3,h4{
  font-family: 'roboto', sans-serif !important;
  color: #181818;
}

p,span,a{
  font-family: 'roboto', sans-serif !important;
}
